:root {
    --dark-orange: #F1583C;
    --light-orange: #F28E1F;
    --cream: #F7F3E2;
    --seafoam: #9AE0DB;
    --black: #11222C;
    --offwhite: #F9F5F4;
    --grey: #E7EAE9;
    --white: #ffffff;
}

$dark-orange: #F1583C;
$light-orange: #F28E1F;
$cream: #F7F3E2;
$seafoam: #9AE0DB;
$black: #11222C;
$offwhite: #F9F5F4;
$grey: #E7EAE9;
$white: #ffffff;